<!DOCTYPE html>
<html xmlns:th = "http://thymeleaf.org"
	  xmlns:layout = "http://www.ultraq.net.nz/thymeleaf/layout">
	  
<head>
  <title>Events App</title>
</head>
<body>
	<h1> Cadastro de Eventos </h1>
	<form method = "post">
		Nome : <input type = "text" value ="" name = "nome"/>
		Local : <input type = "text" value ="" name = "local"/>
		
		Date :<input type="date" id="start" name="date"
		       value="2018-07-22"
		       min="2018-01-01" max="2018-12-31">
		Horario : <input type = "text" value ="" name = "horario"/>
		
		<button type="submit"> Salvar </button>
	</form>
</body>

</html>